<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ponko.cn">

    <uses-feature android:name="android.hardware.camera" />
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 写入SD卡的权限：如果你希望保存相机拍照后的照片 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取SD卡的权限:打开相册选取图片所必须的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.PonkoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <!-- 针对相册处理的 FileProvider共享文件、缓存 -->
        <!-- <provider -->
        <!-- android:name="android.support.v4.content.FileProvider" -->
        <!-- android:authorities="${applicationId}.fileProvider" -->
        <!-- android:exported="false" -->
        <!-- android:grantUriPermissions="true" -->
        <!-- tools:replace="name,authorities,exported,grantUriPermissions"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.FILE_PROVIDER_PATHS" -->
        <!-- android:resource="@xml/file_paths" -->
        <!-- tools:replace="name,resource" /> -->
        <!-- </provider> -->


        <!-- <provider -->
        <!-- android:name="android.support.v4.content.FileProvider" -->
        <!-- android:authorities="com.ponko.cn.provider" -->
        <!-- android:exported="false" -->
        <!-- android:grantUriPermissions="true"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.FILE_PROVIDER_PATHS" -->
        <!-- android:resource="@xml/file_paths" /> -->
        <!-- </provider> -->


        <!-- ============================================主界面 start -->
        <activity android:name=".GuideAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StartAct" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask" />
        <!-- ============================================主界面 end -->


        <!-- ============================================我的-积分商城相关 start -->
        <activity android:name=".module.my.option.store.StoreAct" android:launchMode="singleTop"/>
        <activity android:name=".module.my.option.CacheAct" android:launchMode="singleTop"/>
        <activity android:name=".module.my.option.CollectAct" android:launchMode="singleTop"/>
        <activity android:name=".module.my.option.StudyRecordAct" android:launchMode="singleTop"/>
        <activity android:name=".module.my.option.RemindAct" android:launchMode="singleTop"/>
        <activity android:name=".module.my.option.LearnRankingAct" android:launchMode="singleTop"/>
        <activity android:name=".module.my.option.ExchangeAct" android:launchMode="singleTop"/>
        <activity android:name=".module.my.option.store.IntegralExchangedAct" android:launchMode="singleTop"/>
        <activity android:name=".module.my.option.ProblemAct" android:launchMode="singleTop"/>
        <activity android:name=".module.my.option.acount.AccountAct" android:launchMode="singleTop"/>
        <activity android:name=".module.my.option.store.IntegralTaskActivity" android:launchMode="singleTop"/>
        <activity android:name=".module.my.option.store.IntegralRankingActivity" android:launchMode="singleTop"/>
        <activity android:name=".module.my.option.store.IntegralRecordActivity" android:launchMode="singleTop"/>
        <activity android:name=".module.my.option.OpenRollActivity" android:launchMode="singleTop"/>
        <activity android:name=".module.my.option.InviteFriendActivity" android:launchMode="singleTop"/>
        <activity android:name=".module.my.option.HistoryActivity" android:launchMode="singleTop"/>
        <activity android:name=".module.my.option.CacheListAct" android:launchMode="singleTop"/>
        <activity android:name=".module.my.option.acount.AddressActivity" android:launchMode="singleTop"/>
        <activity
            android:launchMode="singleTop"
            android:name=".module.my.option.acount.PersonalActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- ============================================积分商城相关 end -->


        <!-- ============================================登录 start -->
        <activity android:name=".module.login.LoginStartAct" android:launchMode="singleTop"/>
        <activity android:name=".module.login.LoginAccountAct" android:launchMode="singleTop"/>
        <activity android:name=".module.login.LoginRegisterAct" android:launchMode="singleTop"/>
        <activity android:name=".module.login.LoginWxAct" android:launchMode="singleTop"/>
        <activity android:name=".module.login.LogSmsAct" android:launchMode="singleTop"/>
        <activity android:name=".module.login.LoginFindPwdAct" android:launchMode="singleTop"/>
        <activity android:name=".module.login.LoginUpdateAct" android:launchMode="singleTop"/>
        <activity android:name=".module.login.LoginResetPhoneAct" android:launchMode="singleTop"/>
        <!-- ============================================登录 end -->

        <activity
            android:launchMode="singleTop"
            android:name=".module.free.FreeDetailsAct"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation|keyboard" />
        <activity android:name=".WebAct" />
        <activity android:name=".module.study.CourseTypeLinearActivity" android:launchMode="singleTop"/>
        <activity
            android:launchMode="singleTop"
            android:name=".module.study.StudyCourseDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation|keyboard" />

        <!-- ============================================微信支付 start -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/wx_theme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wxd37fb8ce51a02360" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wxd37fb8ce51a02360" />
            </intent-filter>
        </activity>
        <!-- ============================================微信支付 end -->


        <!-- ============================================学习 start -->
        <activity android:name=".module.study.StudyCacheActivity" android:launchMode="singleTop"/>
        <activity android:name=".module.study.CourseTypeGridActivity" android:launchMode="singleTop"/>
        <activity android:name=".module.study.SearchActivity" android:launchMode="singleTop"/>
        <!-- ============================================学习 end -->


        <!-- ============================================免费 start -->
        <activity android:name=".module.free.FreeMoreAct" android:launchMode="singleTop"/>
        <!-- ============================================免费 end -->


        <!-- ============================================测试 start -->
        <activity android:name=".module.m3u8downer.M3u8DownerTextAct" android:launchMode="singleTop"/>
        <!-- ============================================测试 end -->
        <!-- <activity android:name=".module.my.option.acount.CusTakePhotoActivity" /> -->

        <activity android:name=".module.my.option.InviteFriendShareActivity" android:launchMode="singleTop"/>
        <activity android:name=".module.my.option.InviteFriendRecordActivity" android:launchMode="singleTop"/>

        <!-- 照片选取 -->
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" android:launchMode="singleTop"/>
        <activity android:name=".module.my.option.collect.CollectListActivity" android:launchMode="singleTop"/>
    </application>

</manifest>