<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ponko.cn">

    <application
        android:name=".app.PonkoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".module.my.option.StoreAct" />
        <activity android:name=".module.my.option.CacheAct" />
        <activity android:name=".module.my.option.ColoctAct" />
        <activity android:name=".module.my.option.StudyRecordAct" />
        <activity android:name=".module.my.option.RemindAct" />
        <activity android:name=".module.my.option.RankingAct" />
        <activity android:name=".module.my.option.ExchangeAct" />
        <activity android:name=".module.my.option.ExchangedAct" />
        <activity android:name=".module.my.option.ProblemAct" />
        <activity android:name=".module.my.option.AccountAct" />
        <activity android:name=".module.login.LoginStartAct" />
        <activity android:name=".module.login.LoginAccountAct" />
        <activity android:name=".module.login.LoginRegisterAct" />
        <activity android:name=".module.login.LoginWxAct" />
        <activity android:name=".module.login.LogSmsAct" />
        <activity android:name=".GuideAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StartAct" />
        <activity android:name=".module.free.FreeDetailsAct" />
        <activity android:name=".WebAct"></activity>
    </application>

</manifest>