<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ponko.cn">

    <application
        android:usesCleartextTraffic="true"
        android:name=".app.PonkoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".module.my.StoreAct" />
        <activity android:name=".module.my.CacheAct" />
        <activity android:name=".module.my.ColoctAct" />
        <activity android:name=".module.my.StudyRecordAct" />
        <activity android:name=".module.my.RemindAct" />
        <activity android:name=".module.my.RankingAct" />
        <activity android:name=".module.my.ExchangeAct" />
        <activity android:name=".module.my.ExchangedAct" />
        <activity android:name=".module.my.ProblemAct" />
        <activity android:name=".module.my.AccountAct" />
        <activity android:name=".module.login.LoginStartAct" />
        <activity android:name=".module.login.LoginAccountAct" />
        <activity android:name=".module.login.LoginRegisterAct" />
        <activity android:name=".module.login.LoginWxAct" />
        <activity android:name=".module.login.LogSmsAct" />
        <activity android:name=".GuideAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StartAct"></activity>
    </application>

</manifest>